
.normal,.p3,.p4{
    direction: ltr;
    text-transform:capitalize;
    font-family: sans-serif;
    text-align: left;
    font-size: medium;
    word-spacing:2px;
    margin-top: 20px;
    text-indent: 1cm;
}
.p1 {
    margin-top: 5px;
    direction: ltr;
    text-transform:capitalize;
    font-family: sans-serif;
    text-align: left;
    font-size: medium;
    word-spacing:2px;
}
.keyword {
    color: blue;
}
h1{
    margin-bottom: 5px;
}
